# Reports
Report/

# Edge WebDriver
msedgedriver.exe

# Pytest cache
.pytest_cache/

# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs and coverage
*.log
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db